<%= raw content_box_top(t("views.listing_items")) %>
<table align="center" width="90%">
  <tr>
    <td colspan="2">
      <table align="center">
        <tr> 
          <td>
            <div class="tool-icon" >
              <%= link_to salor_icon(:add,{},32),new_broken_item_path %>
            <br /><span class='icon-caption'><%= I18n.t("views.single_words.new") %></span>
            </div>
          </td>
          <td>
            <div class="tool-icon" >
                <img src='/images/icons/down_32.png' onmousedown="window.location = '/items/export_broken_items'">
              <br /><span class='icon-caption'><%= I18n.t("menu.download") %></span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr>
    <td colspan="2">

      <table width="100%" class="stripe-me">
        <tr>
          <% [:name,:purchase_price,:sku,:quantity,:vendor_id,:owner_id,:the_shipper, '',''].each do |key| %>
            <% if not key == '' %>
              <th class="pointer" onclick="window.location = '?order_by=<%= key %>&page=<%= params[:page]%>';"><%= I18n.t("activerecord.attributes.#{key}").upcase %></th>
            <% else %>
              <th> &nbsp;</th>
            <% end %>
          <% end %>
        </tr>
      <% @broken_items.each do |item| %>
        <tr>
          <td width="30%">
            <%= item.name %>
          </td>
          <td align="right">
            <%= item.item.nil? ? number_to_currency(0) : number_to_currency(item.item.purchase_price) %>
          </td>
          <td align="center">
            <%= item.sku %>
          </td>
          <td align="center">
            <%= item.quantity %>
          </td>

          <td align="center">
            <%= item.vendor.name %>
          </td>
          <td align="center">
            <%= item.owner.username %>
          </td>
          <td align="center">
            <%= item.shipper.name %>
          </td>
          <td>
          <div onmousedown="window.location ='<%= edit_item_path(item)%>';" style="padding: 5px;">
            <%= link_to(image_tag('/images/icons/' + icon(:edit,32)), edit_broken_item_path(item)) %>
            </div>
          </td>
          <td>
            <%= link_to(image_tag('/images/icons/' + icon(:delete,32)), item, :confirm => 'Are you sure?', :method => :delete) %>
          </td>
        </tr>
      <% end %>
      </table>
    </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="pagination" align="center">
        <%= paginate @broken_items if @broken_items %>
      </div>
    </td>
  </tr>
</table>
<%= raw content_box_bottom %>
