= render :partial => "menu", :locals => {:order => @order}
= render :partial => "buttons/popup", :layout => false
= render :partial => "shared/search"
= render :partial => "last_five_orders"
= render :partial => "shared/last_completed_orders"
= javascript_include_tag "pos.js"
%div{:id => "pos_container"}
:javascript
  $(function () {
    $pos = new POS();
    $pos.documentReady(); // see pos.js for new functionality
  } );